<div id="gog-cart" class="gog-padding-2">
    <div class="gog-cart-content">
        <h2 class="gog-cart-item">Cart</h2>
        <div class="gog-cart-item">
            <gog-xp-bar></gog-xp-bar>
        </div>
        <div class="gog-cart-empty gog-cart-item" *ngIf="cart.products.length === 0">
            <img src="./assets/animated-icons/animated-icon-zzz.svg" alt="GOG.COM"/>
            <h5 class="gog-opacity-5">Your cart is empty, add some sick titles.</h5>
        </div>
        <gog-cart-item *ngFor="let product of cart.products" [item]="product"></gog-cart-item>
        <div class="gog-cart-summary gog-light-text gog-cart-item">
            <span>{{ cart.totalValue | currency: 'PLN':'symbol-narrow' | currencySpace }}</span>
        </div>
    </div>
    <div class="gog-cart-actions gog-cart-item">
        <button type="button" gogButton="primary" [disabled]="cart.numberOfItems === 0" (click)="buy()">Buy</button>
        <button type="button" (click)="closeCart()" gogButton="secondary">Continue Shopping</button>
    </div>
</div>
