@import "variables";

div#gog-cart {
    height: 100%;
    width: $gog-cart-width;
    background: darken($gog-color-background-dark, 3);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 999;
    border-top: 1px solid rgba(black, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        line-height: 51px;
    }

    @include width-breakpoint(laptop) {
        height: calc(100% - #{$gog-navigation-height});
        top: $gog-navigation-height;
    }

    div.gog-cart-summary {
        border-top: 1px solid rgba(black, 0.3);
        font-weight: bold;
        text-align: right;
        padding-top: 12px;
        font-size: 22px;
    }

    div.gog-cart-actions {
        display: grid;
        grid-gap: $gog-spacing * 1;
    }

    div.gog-cart-empty {
        text-align: center;
        img {
            height: 150px;
        }
    }

}
