<div class="gog-product-box">
    <div class="gog-product-box-thumbnail">
        <div class="gog-product-box-thumbnail-actions">
            <span class="gog-product-box-discount-amount" *ngIf="product.discountPrice as discountPrice">- {{ discountPrice }}%</span>
            <span class="gog-product-box-add-to-cart" (click)="addProductToCart()" [class.active]="product.quantity === 1">
                <img src="./assets/icons/icon-cart-add.svg" *ngIf="product.quantity === 0" alt="GOG" class="gog-icon-primary"/>
                <img src="./assets/icons/icon-cart-add.svg" *ngIf="product.quantity === 1" alt="GOG" class="gog-icon-white"/>
            </span>
        </div>
        <img [src]="product.thumbnail" alt="GOG">
    </div>
    <div class="gog-product-box-meta">
        <h4 class="gog-margin-0">{{ product.name }}</h4>
        <div class="gog-product-box-price">
            <span [class.gog-product-box-price-small]="product.discountPrice">{{ product.price | currency: 'PLN':'symbol-narrow' | currencySpace }}</span>
            <span *ngIf="product.discountPrice as discountPrice" class="gog-product-box-price">{{ discountPrice | currency: 'PLN':'symbol-narrow' | currencySpace }}</span>
        </div>
        <div class="gog-product-box-button">
            <button>More</button>
        </div>
    </div>
</div>
