@import "variables";

$gog-product-box-height: 155px;
$gog-product-box-meta-height: 60px;

div.gog-product-box {
    width: 100%;
    height: $gog-product-box-height;
    border-radius: $gog-border-radius;
    overflow: hidden;
    box-shadow: $gog-box-shadow;

    div.gog-product-box-thumbnail {
        overflow: hidden;
        position: relative;
        z-index: 0;
        height: calc(100% - #{$gog-product-box-meta-height - $gog-border-radius});

        img {
            width: 100%;
        }

        div.gog-product-box-thumbnail-actions {
            position: absolute;
            top: $gog-spacing * 1;
            right: $gog-spacing * 1;
            color: white;
            font-weight: bold;
            display: flex;

            span {
                box-shadow: $gog-box-shadow;
                padding: $gog-spacing * 0.5;
                border-radius: 3px;
                background: white;
                margin-left: $gog-spacing * 1;
                align-items: center;
                display: inline-flex;
                justify-content: center;

                &.gog-product-box-add-to-cart {
                    user-select: none;
                    width: 35px;
                    cursor: pointer;

                    &.active {
                        background: $gog-color-primary;
                    }

                    &:hover {
                        background: lighten($gog-color-primary, 10);
                    }
                }

                img {
                    height: 20px;
                }
            }
        }
    }

    div.gog-product-box-meta {
        transition: 150ms;
        height: $gog-product-box-meta-height;
        background: white;
        padding: $gog-spacing * 1;
        color: $gog-color-background-dark;
        display: flex;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        border-top-left-radius: $gog-border-radius;
        border-top-right-radius: $gog-border-radius;
        margin-top: -$gog-border-radius;
        align-items: center;

        &:hover {
            margin-top: -40px
        }

        h4 {
            font-size: 14px;
            padding-right: $gog-spacing * 1;
            line-height: 1.6em;
        }

        div.gog-product-box-price {
            flex-shrink: 0;
            font-weight: bold;

            span.gog-product-box-price-small {
                font-size: 14px;
                position: relative;
                margin-right: 12px;
                display: inline-block;
                color: rgba($gog-color-background-dark, 0.5);

                &:after {
                    content: '';
                    position: absolute;
                    height: 30px;
                    width: calc(100% + 10px);
                    top: - 5px;
                    left: - 5px;
                    opacity: 1;
                    background: url('../../../assets/icons/icon-scribble.svg') no-repeat center;
                    background-size: 100% 100%;
                }
            }
        }

        div.gog-product-box-button {
            position: absolute;
            top: 100%;
            left: 0;
            height: 40px;
            width: 100%;

            button {
                background: $gog-color-primary;
                border: none;
                color: white;
                height: 100%;
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                font-weight: bold;
                transition: 150ms;
                padding: 0;

                &:hover {
                    background: desaturate(darken($gog-color-primary, 15), 40);
                }
            }
        }
    }
}
