<div class="gog-navigation-content-grid gog-light-text">
    <div class="gog-nav-social-media">
        <div>
            <img src="./assets/icons/sm-twitch.svg" alt="GOG" gogHover="gog-opacity-8" gogPointer class="gog-icon-white"/>
        </div>
        <div>
            <img src="./assets/icons/sm-instagram.svg" alt="GOG" gogHover="gog-opacity-8" gogPointer class="gog-icon-white"/>
        </div>
        <div>
            <img src="./assets/icons/sm-facebook.svg" alt="GOG" gogHover="gog-opacity-8" gogPointer class="gog-icon-white"/>
        </div>
    </div>
    <div class="gog-nav-content-area">
        <ng-container [ngSwitch]="displayedLink">
            <gog-navigation-content-store *ngSwitchCase="'store'"></gog-navigation-content-store>
            <gog-navigation-content-about *ngSwitchCase="'about'"></gog-navigation-content-about>
            <gog-navigation-content-community *ngSwitchCase="'community'"></gog-navigation-content-community>
            <gog-navigation-content-support *ngSwitchCase="'support'"></gog-navigation-content-support>
            <gog-navigation-content-settings *ngSwitchCase="'settings'"></gog-navigation-content-settings>
            <gog-navigation-content-search *ngSwitchCase="'search'"></gog-navigation-content-search>
        </ng-container>
    </div>
</div>
