@import "variables";

div.gog-navigation-content-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: calc(#{$gog-spacing * 2} + 20px);
    position: relative;

    div.gog-nav-social-media {
        display: grid;
        grid-gap: 15px;
        grid-auto-rows: min-content;
        grid-template-columns: 1fr;
        padding-top: 5px;
        padding-right: 5px;

        img {
            width: 100%;
        }
    }

    div.gog-nav-content-area {

    }
}

div.gog-navigation-content-area-grid {
    display: grid;
    grid-gap: $gog-spacing * 4;
    grid-template-rows: 10px 10px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;

    div.gog-navigation-content-area-element {
        font-size: 25px;
        font-weight: bold;
        white-space: nowrap;

        &:hover {
            color: $gog-color-primary;
        }
    }
}

.gog-nav-content-item, .gog-nav-game {
    // INIT:
    opacity: 0;
}

div.gog-header-store {
    display: grid;
    grid-template-columns: 150px 1fr;

    div.gog-navigation-game-categories {

        div.gog-navigation-game-category {
            border-right: 1px solid $gog-border-moderate;

            &.active a {
                color: $gog-color-primary
            }

            a {
                display: block;
                font-weight: bold;
                padding: $gog-spacing * .5 0;

                span:hover {
                    color: $gog-color-primary
                }
            }
        }
    }

    div.gog-navigation-games {
        display: grid;
        grid-gap: $gog-spacing * 2;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-template-rows: auto auto;

        @include width-breakpoint(laptop) {
            grid-template-rows: repeat(auto-fit, auto)
        }

        @include width-breakpoint(tablet) {
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

input.gog-navigation-search-input {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    padding: 0 0 $gog-spacing * 1 0;
    margin-top: 41px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0;
    outline: none;
    color: white;
    width: 100%;

    &::-webkit-input-placeholder {
        color: white
    }
}

div.gog-navigation-settings {
    text-align: right;

    span {
        display: inline-block;
        margin-left: $gog-spacing * 2;
        opacity: .5;
        cursor: pointer;
        font-weight: bold;

        &.key {
            background: white;
            box-shadow: $gog-box-shadow;
            color: $gog-color-background-dark;
            border-radius: $gog-border-radius;
            opacity: 1;
            padding: 2px 10px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: default;

            &:hover { opacity: 1 }
        }

        &.active {
            opacity: 1;
            font-weight: bold;
        }

        &:hover {
            opacity: .8;
        }
    }
}
