<div class="page gog-center-align-y">
    <div class="page-section gog-container gog-padding-2">
        <h1>Hello</h1>
        <p>
            <i>
                Quick note before the actual letter, I have made a navigation and quick cart Angular 8.0.1 demo for gog.com store. All code has been written and all content has been created by me. I have rushed a bit since I was really scared of seeing open positions at GOG closed. However I have paid huge attention to details and scalability, which can be noticed in the code.
                Currently I see no limitations in Angular CLI development. I say a lot of "Angular CLI", because it is fair to say I was raised on Angular 2+ framework - I'm a front-end kiddo of a new generation. Now let's dive into the letter.
            </i>
        </p>
        <p>
            I'm Filip Winiarski - some would call me <strong>front-end developer</strong>,
            others <strong>the guy who makes sick stuff</strong> <i>which later translates into growth</i>.
            My passion is making solid projects, either from scratch or evolving existing ones.
            Yes, you should expect from me next level ideas and a will to do impossible things.
        </p>
        <p>
            CD Projekt has always impressed me with its dedication to single projects <strong>Wiedźmin</strong> or <strong>Cyberpunk 2077</strong>.
            Having opportunity to be a part of their dedication does not let me sleep recently.
        </p>
        <p>
            Despite team effort with the store, GOG looks a little bit obsolete - outdated design, not optimized user experience, lack of proper web motion solutions, no progressive web app features, and <i>soon</i> deprecated Angular.js. I am not trying to blame, but to point out possibilities for improvement, which you are probably aware of. I raise my hands for GOG to become a <strong>baller</strong> in the digital games distribution market.
        </p>
        <p>
            Since my first web release, when I was 15 years old <i>LogicTunes.Pro, blog and store dedicated to Logic Pro X software with 30k of unique users</i> I have always been focused to make products <strong>better</strong>. Code is just a tool which allows me to create great experiences across different devices. Since I've always been fascinated with product design, my UX/UI skills are just as strong, if not the most developed ones. Marketing, monitoring <i>data driven design</i> or SEO are all familiar to me so I'm very comfortable with "cross-department" talks, focusing on all aspects of a product.
        </p>
        <p>
            I consider myself as a great asset to the GOG team. Speaking in your language - <strong>I'm a hero with team boost aura, bringing +10 to Angular JS, +50 to Angular CLI development, +50 to UX/UI and +100% chance for GOG to become a leading world-class video games platform.</strong>
        </p>
        <p>
            <i>This demo has been built on Angular 8.0.1. I have created dynamic mocking server using node, express, just as I enjoy doing it in a professional environment. I have also created simple Interfaces, Enums and Models to handle logic and development. I have made some showcase use of elements like API services, directives, http interceptors, pipes, custom utilities, core and shared modules, UI components, singleton components and routed views.</i>
        </p>
        <p class="signature">
            I am currently living in Wrocław, both options - working at CD Projekt Wrocław office and relocation to Warsaw - are not a problem to me.<br><br>
            I wish I could work among CD Projekt and GOG professionals.<br>I'm looking forward hearing from you.
            Thank you for the opportunity,<br>
            Wish you all the best,<br>
            Filip Winiarski
            <br><br>
            +48 792 940 986&nbsp;&nbsp;|&nbsp;&nbsp;filipwiniarski@gmail.com
        </p>
    </div>
</div>
