@import "variables";

h1 {
    margin-top: 40vh;
}

i {
    font-style: italic;
    background: rgba(white, 0.2);
    opacity: 0.5;
    padding: 0 5px;
    margin: 0 10px;
}

p:nth-of-type(1) i {
    margin: 0;
}

strong {
    font-weight: 800;
    color: $gog-color-primary;
}

.signature {
    margin-bottom: 100px;
}

.checklist {
    margin-bottom: 50px;

    span {
        display: block;
    }
}

.page-section {
    max-width: 1000px;
}
