<div class="gog-navigation-settings">
    <div class="gog-navigation-languages gog-nav-content-item">
        <span class="key">Site language</span>
        <span class="active">English</span>
        <span>Deutsch</span>
        <span>Polski</span>
        <span>Français</span>
        <span>Pусский</span>
        <span>中文(简体)</span>
    </div>
    <gog-divider class="gog-nav-content-item"></gog-divider>
    <div class="gog-navigation-currencies gog-nav-content-item">
        <span class="key">Currency</span>
        <span class="active">PLN</span>
        <span>EUR</span>
        <span>USD</span>
    </div>
</div>
