@import "variables";

.gog-light-text {
    color: white;
}

.gog-dark-text {
    color: $gog-color-paragraph;
}

.gog-screen-height {
    height: 100vh;
}

.gog-full-height {
    height: 100%;
}

@for $i from 0 through 5 {
    .gog-padding-#{$i} {
        padding: $gog-spacing * $i
    }
}

@for $i from 0 through 5 {
    .gog-margin-#{$i} {
        margin: $gog-spacing * $i
    }
}

@for $i from 0 through 10 {
    .gog-opacity-#{$i} {
        opacity: 0.1 * $i
    }
}

.gog-center-align-y {
    display: flex;
    align-content: center;
    align-items: center;
}

.gog-space-between-x {
    display: flex;
    justify-content: space-between;
}

.gog-container {
    max-width: $gog-container-width;
    padding-left: $gog-spacing * 3;
    padding-right: $gog-spacing * 3;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gog-button-primary, .gog-button-secondary {
    font-weight: bold;
    height: $gog-button-height;
    border-radius: $gog-border-radius;
    width: 100%;
    text-align: center;
    font-size: 14px;
    box-shadow: $gog-box-shadow;
    cursor: pointer;
    transition: $gog-transition-fast;

    &:disabled {
        pointer-events: none;
        box-shadow: none;
        opacity: 0.2;
    }
}

.gog-button-primary {
    background: $gog-color-primary;
    color: white;
    border: none;

    &:hover {
        background: lighten($gog-color-primary, 5)
    }
}

.gog-button-secondary {
    background: none;
    border: 2px solid;
    color: $gog-color-primary;

    &:hover {
        color: lighten($gog-color-primary, 5)
    }
}

.gog-icon-white {
    filter: invert(1);
}
.gog-icon-black {
    filter: none;
}
.gog-icon-primary {
    filter: invert(.6) sepia(1) saturate(65) hue-rotate(237deg);
}
