@mixin width-breakpoint($breakpoint) {
    @if $breakpoint == desktop {
        @media (min-width: 1501px) { @content }
    }
    @else if $breakpoint == laptop {
        @media (max-width: 1500px) { @content }
    }
    @else if $breakpoint == tablet {
        @media (max-width: 1200px) { @content }
    }
    @else if $breakpoint == mobile {
        @media (max-width: 800px)  { @content }
    }
    @else if $breakpoint == mini-mobile {
        @media (max-width: 500px)  { @content }

    }
}

@mixin height-breakpoint($breakpoint) {
    @if $breakpoint == desktop {
        @media (min-height: 1000px) { @content }
    }
    @else if $breakpoint == laptop {
        @media (max-width: 800px) { @content }
    }
    @else if $breakpoint == tablet {
        @media (max-width: 600px) { @content }
    }
    @else if $breakpoint == mobile {
        @media (max-width: 500px)  { @content }
    }
}

