@import "variables";

* {
    box-sizing: border-box;
}

body {
    background: #171b25;
    font-family: $gog-font-family;
    letter-spacing: $gog-font-letter-spacing;
    color: white;
    margin: 0;
}

body, input, textarea, select, button {
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}

button {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 22px;
    line-height: 1.7em;
    color: $gog-color-paragraph;
}
