@import "mixins";

$gog-container-width: 1920px;
$gog-navigation-height: 80px;
$gog-button-height: 45px;
$gog-input-height: 60px;
$gog-cart-width: 450px;

$gog-font-family: 'DM Sans', sans-serif;
$gog-font-letter-spacing: -0.022em;
$gog-font-line-height: 1.67em;

$gog-spacing: 0.8rem;

$gog-color-primary: #7457ff;
$gog-color-accent: #cdff58;
$gog-color-paragraph: #ffffff;
$gog-color-warning: #dd2626;
$gog-color-success: #2ad078;
$gog-color-background: #171b25;
$gog-color-background-grey: #e1e9f6;
$gog-color-background-dark: #272e40;

$gog-border-light: 1px solid #cad3df;
$gog-border-moderate: 1px solid rgba(white, 0.08);
$gog-border-dark: 1px solid #182131;

$gog-border-radius: 4px;

$gog-box-shadow: 0px 2px 4px rgba(0,0,0,.1);

$gog-transition-fast: 120ms;
$gog-transition-moderate: 250ms;
$gog-transition-slow: 350ms;
