<div class="gog-navigation-content-area-grid">
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>GOG.com</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>GOG Galaxy</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Careers</span>
        </a>
    </div>
</div>
