<div class="gog-header-store" *ngIf="featuredGames">
    <div class="gog-navigation-game-categories">
        <div class="gog-navigation-game-category gog-nav-content-item"
             [class.active]="selectedCategory === featuredGames.newReleases">
            <a>
                <span (click)="selectCategory(featuredGames.newReleases)" gogPointer>New Releases</span>
            </a>
        </div>
        <div class="gog-navigation-game-category gog-nav-content-item"
             [class.active]="selectedCategory === featuredGames.bestsellers">
            <a>
                <span (click)="selectCategory(featuredGames.bestsellers)" gogPointer>Bestsellers</span>
            </a>
        </div>
        <div class="gog-navigation-game-category gog-nav-content-item"
             [class.active]="selectedCategory === featuredGames.onSale">
            <a>
                <span (click)="selectCategory(featuredGames.onSale)" gogPointer>On sale now</span>
            </a>
        </div>
        <gog-divider class="gog-nav-content-item"></gog-divider>
        <div class="gog-navigation-game-category gog-nav-content-item"
             *ngFor="let category of featuredGames.categories"
            [class.active]="category === selectedCategory">
            <a>
                <span (click)="selectCategory(category)" gogPointer>{{ category.label }}</span>
            </a>
        </div>
    </div>
    <div class="gog-navigation-games">
        <gog-product-box class="gog-nav-game" *ngFor="let product of selectedCategory?.products" [product]="product"></gog-product-box>
    </div>

</div>
