<div id="app">
    <gog-cart></gog-cart>
    <div id="app-view">
        <gog-navigation></gog-navigation>
        <div id="app-view-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
