@import "variables";

div#app {
    position: relative;
    background: $gog-color-background-dark;

    div#app-view {
        position: relative;
        width: calc(100%);
        height: 100vh;
        overflow: hidden;

        &.app-view-shrank {
            width: calc(100% - #{$gog-cart-width});
        }

        div#app-view-container {
            position: absolute;
            top: $gog-navigation-height;
            width: calc(100%);
            height: calc(100vh - #{$gog-navigation-height});
            overflow-y: auto;
        }
    }
}
