<div class="gog-nav-content-item">
    <input type="text"
           [formControl]="search"
           name="search"
           placeholder="Search for a title"
           class="gog-navigation-search-input"/>
    <span *ngIf="loading">Loading...</span>
    <span *ngIf="!loading && (searchedPhrase$ | async) as phrase">Debounced RxJS search: <b>{{ phrase }}</b></span>
</div>
