<div class="gog-navigation-content-area-grid">
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Technical Issues</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Orders and Payments</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Account</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Downloads</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>GOG Galaxy</span>
        </a>
    </div>
</div>
