<div class="gog-cart-item gog-light-text">
    <div class="gog-cart-item-name">
        <gog-product-platform [platform]="item.platform" color="white"></gog-product-platform>
        <img [src]="item.thumbnail" alt="GOG.COM"/>
        <span>{{ item.name }}</span>
    </div>
    <div class="gog-cart-item-details">
        <span class="gog-cart-item-details-price">{{ item.price | currency: 'PLN':'symbol-narrow' | currencySpace }}</span>
        <img (click)="removeItemFromCart()" src="./assets/icons/icon-close.svg" class="gog-opacity-3" gogHover="gog-opacity-8" gogPointer alt="GOG.COM"/>
    </div>
</div>
