@import "variables";

div.gog-cart-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 15px 0;
    border-top: 1px solid rgba(black, 0.3);

    &:nth-last-of-type(1) {
        border-bottom: none;
    }

    div.gog-cart-item-name {
        display: flex;
        width: 100%;
        overflow: hidden;

        img {
            margin-left: $gog-spacing * 1;
            height: 20px;
            border-radius: $gog-border-radius;
            box-shadow: $gog-box-shadow;
        }

        span {
            display: inline-block;
            margin-left: $gog-spacing * 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    div.gog-cart-item-details {
        display: flex;
        flex-shrink: 0;

        span.gog-cart-item-details-price {
            display: inline-block;
            margin-left: 20px;
            white-space: nowrap;
        }

        img {
            position: relative;
            top: 5px;
            height: .7em;
            margin-left: 10px;
        }
    }
}
