/* You can add global styles to this file, and also import other style files */

@import "imports";
@import "native";
@import "variables";
@import "library";

#fps-counter, #ms-counter, #memory-counter {
    height: 50px;
    width: 80px;
    position: fixed;
    left: 20px;
    z-index: 10000;
}
#fps-counter {
    bottom: 20px;
}
#ms-counter {
    bottom: 80px;
}
#memory-counter {
    bottom: 140px;
}
