@import "variables";

$bar-height: 10px;

div.gog-xp-bar {
    font-weight: bold;

    &.active {
        animation: pulse 1s infinite ease-in-out;

        div.gog-xp-bar-bar {
            border: 1px solid #82ffd6;
            box-shadow: 0 0 5px #82ffd6;
        }
    }

    @keyframes pulse {
        50% {
            transform: scale(0.95)
        }
    }

    div.gog-xp-bar-bar {
        height: $bar-height;
        width: 100%;
        border-radius: $bar-height;
        overflow: hidden;
        position: relative;
        background: darken($gog-color-background-dark, 10);

        canvas {
            position: absolute;
            height: $bar-height;
            top: 0;
        }

        div.gog-xp-bar-scale {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            canvas {
                z-index: 3;
                width: 2px;
                background: darken($gog-color-background-dark, 10);

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        left: 23% * $i // demo purpose only, not dynamic
                    }
                }
            }
        }

        div.gog-xp-bar-value {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            canvas {
                left: 0;
                height: 100%;
                z-index: 1;

                &.gog-xp-bar-acquired-value {
                    background: linear-gradient(to bottom, #82ffd6, #4cdaab);
                    z-index: 1;
                }

                &.gog-xp-bar-actual-value {
                    background: linear-gradient(to bottom, lighten($gog-color-primary, 5),  darken($gog-color-primary, 5));
                    z-index: 2;
                }
            }

            $blink-width: 150px;
            div.gog-xp-bar-blink {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                overflow: hidden;
                z-index: 10;
                opacity: .13;

                canvas {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    background: linear-gradient(to right, transparent, white);
                    width: $blink-width;
                    left: -$blink-width;
                    animation: blink 3s infinite linear;

                    @keyframes blink {
                        40% {
                            left: 100%
                        }
                        100% {
                            left: 100%
                        }
                    }
                }
            }
        }
    }

    div.gog-xp-bar-rewards {
        display: flex;
        justify-content: space-between;
        margin-top: $gog-spacing * 1;
        margin-bottom: $gog-spacing * 2;
    }
}
