<div class="gog-xp-bar gog-light-text" [class.active]="(me.xp + cart.totalXP) / me.nextLevelXP > 1">
    <h3>Level {{ me.level }}</h3>
    <div class="gog-xp-bar-bar">
        <div class="gog-xp-bar-value">
            <canvas class="gog-xp-bar-actual-value" [style.width.%]="me.xp / me.nextLevelXP * 100"></canvas>
            <canvas class="gog-xp-bar-acquired-value" [style.width.%]="(me.xp + cart.totalXP) / me.nextLevelXP * 100"></canvas>
            <div class="gog-xp-bar-blink" [style.width.%]="(me.xp + cart.totalXP) / me.nextLevelXP * 100">
                <canvas></canvas>
            </div>
        </div>
        <div class="gog-xp-bar-scale">
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
        </div>
    </div>
    <div class="gog-xp-bar-rewards">
        <span>Next reward:</span>
        <span>{{ me.nextReward }}</span>
    </div>
</div>
