@import "variables";

header#gog-header {
    height: $gog-navigation-height;
    background: darken($gog-color-background-dark, 3);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    img.gog-header-logo {
        margin-right: $gog-spacing * 3
    }

    div.gog-header-links {
        a {
            margin-right: $gog-spacing * 3;
            text-decoration: none;
            text-transform: capitalize;
            font-weight: bold;

            &.active {
                color: $gog-color-primary;
            }
        }
    }

    div.gog-header-actions {
        padding: 2px;
        > button {
            width: auto;
            background: none;
            border: none;
            margin-left: $gog-spacing * 2;
            position: relative;

            &.active {
                top: -3px;
            }

            span {
                width: 100%;
                color: white;
                background: $gog-color-primary;
                border-radius: $gog-border-radius;
                box-shadow: $gog-box-shadow;
                font-size: 14px;
                font-weight: bold;
                position: absolute;
                top: 80%;
                left: 0;
                text-align: center;
                z-index: 3;
            }

            img {
                position: relative;
                z-index: 2;
            }

            &.gog-header-cart .gog-header-cart-blink {
                position: absolute;
                z-index: 1;
                left: 5px;
                opacity: 0;
            }
        }
    }

    div#gog-header-content {
        position: absolute;
        width: 100%;
        background: inherit;
        padding-top: $gog-navigation-height;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        // INIT:
        height: 0;

        div.gog-navigation-content-background {
            background-size: 100% auto;
            background: url('https://images5.alphacoders.com/927/thumb-1920-927025.png') no-repeat 50% 55%;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
            left: 0;

            // INIT:
            opacity: 0.1;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                background: linear-gradient(to bottom right, darken($gog-color-background-dark, 6), rgba($gog-color-background-dark, 0.6));
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        div.gog-container {
            padding: $gog-spacing * 1 $gog-spacing * 3 $gog-spacing * 3;
        }

        gog-navigation-content {
            display: block;
            width: 100%;
        }
    }
}
