<header id="gog-header">
    <div class="gog-container gog-full-height gog-space-between-x gog-padding-2">
        <div class="gog-header-links gog-full-height gog-center-align-y">
            <img src="./assets/images/gog-vertical-logo.svg" class="gog-header-logo gog-full-height" alt="GOG" gogHover="gog-opacity-8" gogPointer (click)="clearHighlightedLink()"/>
            <div class="gog-header-links gog-light-text">
                <ng-container *ngFor="let link of links">
                    <a class="gog-light-text"
                       [class.active]="link.label === highlightedLink"
                       [routerLink]="link.routerLink"
                       (click)="setHighlightedLink(link.label)"
                       gogHover="gog-opacity-8" gogPointer>
                        {{ link.label }}
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="gog-header-actions gog-center-align-y gog-full-height">
            <button class="gog-header-search gog-full-height" (click)="setHighlightedLink('search')" gogHover="gog-opacity-8" gogPointer>
                <img class="gog-full-height gog-icon-white" src="./assets/icons/icon-search.svg" alt="GOG">
            </button>
            <button class="gog-header-cart gog-full-height" (click)="setHighlightedLink('settings')" gogHover="gog-opacity-8" gogPointer>
                <img class="gog-full-height gog-icon-white" src="./assets/icons/icon-settings.svg" alt="GOG">
            </button>
            <button class="gog-header-cart gog-full-height" [class.active]="cart.numberOfItems > 0" (click)="toggleCart()" gogHover="gog-opacity-8" gogPointer>
                <img class="gog-header-cart-primary gog-full-height gog-icon-white" src="./assets/icons/icon-cart.svg" alt="GOG">
                <img class="gog-header-cart-blink gog-full-height gog-icon-primary" src="./assets/icons/icon-cart.svg" alt="GOG">
                <span *ngIf="cart.numberOfItems > 0">{{ cart.numberOfItems }}</span>
            </button>
        </div>
    </div>
    <div id="gog-header-content">
        <div class="gog-navigation-content-background"></div>
        <div class="gog-container gog-space-between-x">
            <gog-navigation-content [linkEmitter$]="highlightedLink$"></gog-navigation-content>
        </div>
    </div>
</header>
