<div class="gog-navigation-content-area-grid">
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Forums</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Discussions</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Forum Replies</span>
        </a>
    </div>
    <div class="gog-navigation-content-area-element gog-nav-content-item" gogPointer>
        <a>
            <span>Community Wishlist</span>
        </a>
    </div>
</div>
